@model ShortUrl.ManagementGui.ModelsAndClaims

@{
    ViewData["Title"] = "Home Page";
}

    <p>
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminPolicy")).Succeeded)
        {
            <a asp-action="Create">Create New</a>
        }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                Key
            </th>
            <th>
                Url
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShortUrlModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyClaims)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>